<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Animal Search</title>
    </head>
    <body>
        <a class="navbar">Animal Search</a>
        <form>
            <input type="text" id="search-animal" placeholder="Eg.: lion, bear, dog, cat, etc...">
            <button type="submit">Search</button>
        </form>
        <div class="result-description"></div>
        <div class="result-description"></div>
        <div class="result-description"></div>
        <div class="result-description"></div>
    </body>
</html>